[submodule "code_examples"]
	path = code_examples
	url = https://github.com/sweat-tek/SB4-KOM-F20.git
[submodule "labs/IntroLab"]
	path = labs/IntroLab
	url = git@github.com:nymann/IntroLab.git
[submodule "labs/GamesLab"]
	path = labs/GamesLab
	url = git@github.com:nymann/GamesLab.git
[submodule "labs/JavaLab"]
	path = labs/JavaLab
	url = git@github.com:nymann/JavaLab.git
[submodule "labs/DesignLab"]
	path = labs/DesignLab
	url = git@github.com:nymann/DesignLab.git
[submodule "labs/NetBeansLab1"]
	path = labs/NetBeansLab1
	url = git@github.com:nymann/NetBeansLab1.git
[submodule "labs/NetBeansLab2"]
	path = labs/NetBeansLab2
	url = git@github.com:nymann/NetBeansLab2.git
[submodule "labs/OSGiLab"]
	path = labs/OSGiLab
	url = git@github.com:nymann/OSGiLab.git
[submodule "labs/SpringLab"]
	path = labs/SpringLab
	url = git@github.com:nymann/SpringLab.git
[submodule "labs/TestLab"]
	path = labs/TestLab
	url = git@github.com:nymann/TestLab.git
[submodule "assignments/hand_in_1"]
	path = assignments/hand_in_1
	url = https://github.com/nymann/SB4-KMS-Hand-In-1
